:root{
  --border-top:1px solid red;
}
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  
}


.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: red;
  
}

.horizontal-line{
  border-top: var(--border-top);
  margin-bottom:20rem;
  height:'30px';
  width:100%;
}

.App-body{
  margin-top:-18rem;
  margin-left: 5rem;
  font-size:1.5rem;
  font-style: bold;
}

.hr-bottom{
  border-top: var(--border-top);
  margin-top:27rem;
}

.App-link {
  color: #61dafb;
}

.App-footer{
  margin-left: 30rem;
  font-style: italic;
  font-size: 1.5rem
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
